{% extends 'app/base.html' %}
{% block title %}View{% endblock title %}
{% block main %}

<div class="card">
    {% if not request.user.is_authenticated %}
    <div class="alert alert-danger" role="alert">
        Login to get owner details!!
    </div>
    {% endif %}
    {% if messages %}
    <div class="container-fluid">
        {% for message in messages %}
            {%if message.tags == 'error' %}
            <div class="alert alert-warning" role="alert">
                <li {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
            </div>
            {% else %}
            <div class="alert alert-success" role="alert">
                <li {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
            </div>
            {% endif %}
        {% endfor %}
    </div>
    {% endif %}
    <div class="card-body">
        <div class="container px-3 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0"
                        src="https://topgbikes.s3.ap-south-1.amazonaws.com/{{availablead.bike_image}}" alt="..." />
                </div>
                <div class="col-md-6">
                    <div class="small mb-1">{{availablead.bike_brand}}</div>
                    <h1 class="display-5 fw-bolder">{{availablead.bike_name}} || {{availablead.bike_type|capfirst}}</h1>
                    <div class="fs-5 mb-5">
                        <!-- <span class="text-danger text-decoration-line-through ">gst not inculded</span> -->
                        <span><i class="bi bi-currency-rupee"></i>{{availablead.bike_rent_price}}</span>
                    </div>
                    <p class="lead">{{availablead.bike_discription}}</p>
                    <div class="d-flex py-2">
                        {% if request.user.is_authenticated %}
                        <a href="/wishlist/add_to_whishlist/{{availablead.id}}"
                            class="btn btn-outline-danger flex-shrink-0" type="button">
                            <i class="bi bi-heart"></i>
                            Whishlist
                        </a>
                        <i class="p-2"></i>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-outline-primary flex-shrink-0" data-bs-toggle="modal"
                            data-bs-target="#ownerModal">
                            Get Owner Details.
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="ownerModal" tabindex="-1" aria-labelledby="ownerModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="ownerModalLabel">Owner Details</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <i class="fw-bolder">Name : {{bikeowner.first_name}}
                                            {{bikeowner.last_name}}</i><br>
                                        <i class="fw-bolder">Email : {{bikeowner.email}}</i><br>
                                        <i class="fw-bolder">Mobile : {{bikeowner.mobile}}</i><br>
                                        <i class="fw-bolder">Address : {{bikeowner.address}}</i><br>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="reset" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    <h3 class="box-title mt-5">Key Highlights</h3>
                    <ul class="list-unstyled">
                        <li><i class="bi bi-check-all text-success"></i>Best Cost</li>
                        <li><i class="bi bi-check-all text-success"></i>Just Serviced</li>
                        <li><i class="bi bi-check-all text-success"></i>Fule Pump Cleaned</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container px-4 px-lg-5 my-5">
            <h3 class="box-title mt-5">General Info</h3>
            <div class="table-responsive">
                <table class="table table-striped table-product">
                    <tbody>
                        <tr>
                            <td width="390">Brand</td>
                            <td>{{availablead.bike_brand}}</td>
                        </tr>
                        <tr>
                            <td>Bike Model</td>
                            <td>{{availablead.bike_name}}</td>
                        </tr>
                        <tr>
                            <td>Engine Size</td>
                            <td>{{availablead.bike_engine_size}} CC</td>
                        </tr>
                        <tr>
                            <td>Type</td>
                            <td>{{availablead.bike_type}}</td>
                        </tr>
                        <tr>
                            <td>Milage</td>
                            <td>{{availablead.bike_mileage}}</td>
                        </tr>
                        <tr>
                            <td>Tank Size</td>
                            <td>{{availablead.bike_fueltank_size}}</td>
                        </tr>
                        <tr>
                            <td>Top Speed</td>
                            <td>{{availablead.bike_topspeed}}kmph</td>
                        </tr>
                        <tr>
                            <td>ABS</td>
                            <td>{{availablead.bike_has_abs}}</td>
                        </tr>
                        <tr>
                            <td>Bike Weight</td>
                            <td>{{availablead.bike_weight}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock main %}