{% extends 'app/base.html' %}
{% block title %}View{% endblock title %}
{% block main %}

<div class="container p-3">
    <div class="card border-4">
        <div class="card-body">
            <div class="container px-4">
                <h2 class="card-title">Duke 390</h2>
                <h5 class="card-subtitle">Naked | Bs6</h5>
            </div>
            <div class="container py-3">
                <div class="row gx-5">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="container-fluid px-2">
                            <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img src="https://uhdwallpapers.org/uploads/converted/19/12/01/ktm-890-duke-r-5k-wallpaper-2560x1440_899447-mm-90.jpg"
                                            class="img-fluid rounded-start" class="d-block w-100" alt="img 1"
                                            style="height: 550px;">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="https://i.pinimg.com/originals/28/eb/aa/28ebaa96c68900402dea051dfa3cd7b3.jpg"
                                            class="img-fluid rounded-start" class="d-block w-100" alt="img 2"
                                            style="height: 550px;">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="https://cdni.autocarindia.com/Utils/ImageResizer.ashx?n=https://cdni.autocarindia.com/ExtraImages/20220311014949_Duke.jpg&w=700&q=90&c=1"
                                            class="img-fluid rounded-start" class="d-block w-100" alt="img 3"
                                            style="height: 550px;">
                                    </div>
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                                    data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                                    data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <h4 class="box-title mt-5">Product description</h4>
                        <p>Lorem Ipsum available,but the majority have suffered alteration in some form,by
                            injected
                            humour,or randomised words which don't look even slightly believable.but the
                            majority have
                            suffered alteration in some form,by injected humour</p>
                        <h2 class="mt-5">
                            <i class="bi bi-currency-rupee"></i><span> 2000.00 </span>
                        </h2>
                        <button class="btn btn-danger btn-rounded mr-1" data-toggle="tooltip" title=""
                            data-original-title="Add to cart">
                            <i class="bi bi-heart"></i>
                        </button>
                        <button class="btn btn-primary btn-rounded">Buy Now</button>
                        <h3 class="box-title mt-5">Key Highlights</h3>
                        <ul class="list-unstyled">
                            <li><i class="bi bi-check-all text-success"></i>Sturdy structure</li>
                            <li><i class="bi bi-check-all text-success"></i>Designed to foster easy portability</li>
                            <li><i class="bi bi-check-all text-success"></i>Perfect furniture to flaunt your wonderful collectibles</li>
                        </ul>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <h3 class="box-title mt-5">General Info</h3>
                        <div class="table-responsive">
                            <table class="table table-striped table-product">
                                <tbody>
                                    <tr>
                                        <td width="390">Brand</td>
                                        <td>Stellar</td>
                                    </tr>
                                    <tr>
                                        <td>Delivery Condition</td>
                                        <td>Knock Down</td>
                                    </tr>
                                    <tr>
                                        <td>Seat Lock Included</td>
                                        <td>Yes</td>
                                    </tr>
                                    <tr>
                                        <td>Type</td>
                                        <td>Office Chair</td>
                                    </tr>
                                    <tr>
                                        <td>Style</td>
                                        <td>Contemporary&amp;Modern</td>
                                    </tr>
                                    <tr>
                                        <td>Wheels Included</td>
                                        <td>Yes</td>
                                    </tr>
                                    <tr>
                                        <td>Upholstery Included</td>
                                        <td>Yes</td>
                                    </tr>
                                    <tr>
                                        <td>Upholstery Type</td>
                                        <td>Cushion</td>
                                    </tr>
                                    <tr>
                                        <td>Head Support</td>
                                        <td>No</td>
                                    </tr>
                                    <tr>
                                        <td>Suitable For</td>
                                        <td>Study&amp;Home Office</td>
                                    </tr>
                                    <tr>
                                        <td>Adjustable Height</td>
                                        <td>Yes</td>
                                    </tr>
                                    <tr>
                                        <td>Model Number</td>
                                        <td>F01020701-00HT744A06</td>
                                    </tr>
                                    <tr>
                                        <td>Armrest Included</td>
                                        <td>Yes</td>
                                    </tr>
                                    <tr>
                                        <td>Care Instructions</td>
                                        <td>Handle With Care,Keep In Dry Place,Do Not Apply Any Chemical For
                                            Cleaning.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Finish Type</td>
                                        <td>Matte</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main %}