{% extends 'app/base.html' %}

{% block title %}Home{% endblock title %}
{% block main %}

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="5000">
            <img class="d-block w-100"
                src="https://images.wallpapersden.com/image/download/triumph-bonneville-bike_Zmtta2yUmZqaraWkpJRnamtlrWZpaWU.jpg"
                alt="First slide" style="height:580px;">
            <div class="carousel-caption d-none d-md-block">
                <h5>First slide label</h5>
                <p>Some representative placeholder content for the first slide.</p>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="5000">
            <img class="d-block w-100" src="https://wallpaperaccess.com/full/2720819.jpg" alt="Second slide"
                style="height: 580px;">
            <div class="carousel-caption d-none d-md-block">
                <h5>Second slide label</h5>
                <p>Some representative placeholder content for the second slide.</p>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="5000">
            <img class="d-block w-100"
                src="https://s2.best-wallpaper.net/wallpaper/2560x1440/1810/KTM-motorcycle-front-view-river_2560x1440.jpg"
                alt="Third slide" style="height: 580px;">
            <div class="carousel-caption d-none d-md-block">
                <h5>Third slide label</h5>
                <p>Some representative placeholder content for the third slide.</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="container p-4 m-5">
    <div class="container">
        <div class="row text-center">
            <div class="col-4">
                <div class="card mb-4 border-0" style="width: 15rem;">
                    <img src="https://w7.pngwing.com/pngs/1011/367/png-transparent-scooter-yamaha-motor-company-motorcycle-sport-bike-logo-scooter-thumbnail.png"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk
                            of the
                            card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card mb-4 border-0" style="width: 15rem;">
                    <img src="https://w7.pngwing.com/pngs/1011/367/png-transparent-scooter-yamaha-motor-company-motorcycle-sport-bike-logo-scooter-thumbnail.png"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk
                            of the
                            card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card mb-4 border-0" style="width: 15rem;">
                    <img src="https://w7.pngwing.com/pngs/1011/367/png-transparent-scooter-yamaha-motor-company-motorcycle-sport-bike-logo-scooter-thumbnail.png"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk
                            of the
                            card's content.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock main %}