{% extends 'app/base.html' %}

{% block title %}Home{% endblock title %}
{% block main %}

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="5000">
            <img class="d-block w-100"
                src="https://images.wallpapersden.com/image/download/triumph-bonneville-bike_Zmtta2yUmZqaraWkpJRnamtlrWZpaWU.jpg"
                alt="First slide" style="height:650px;">
            <div class="carousel-caption d-none d-md-block">
                <h5>First slide label</h5>
                <p>Some representative placeholder content for the first slide.</p>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="5000">
            <img class="d-block w-100" src="https://wallpaperaccess.com/full/2720819.jpg" alt="Second slide"
                style="height: 650px;">
            <div class="carousel-caption d-none d-md-block">
                <h5>Second slide label</h5>
                <p>Some representative placeholder content for the second slide.</p>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="5000">
            <img class="d-block w-100"
                src="https://s2.best-wallpaper.net/wallpaper/2560x1440/1810/KTM-motorcycle-front-view-river_2560x1440.jpg"
                alt="Third slide" style="height: 650px;">
            <div class="carousel-caption d-none d-md-block">
                <h5>Third slide label</h5>
                <p>Some representative placeholder content for the third slide.</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="container p-5">
    <div class="row text-center">
        <div class="col-sm-4 m-">
            <img src="https://thenounproject.com/api/private/icons/2794064/edit/?backgroundShape=SQUARE&backgroundShapeColor=%23000000&backgroundShapeOpacity=0&exportSize=752&flipX=false&flipY=false&foregroundColor=%23000000&foregroundOpacity=1&imageFormat=png&rotation=0&token=gAAAAABkGBXgqvQEY9Uq6UuZMKee0IKRmiyJI8kIGiLvN2aivPbumPV9Hal11Ey-yLcqbngFnrX-gIA878U_20MxkvIDQQSdNw%3D%3D" width="220" height="220"
                alt="customer care" loading="lazy">
            <h3 class="inline-flex">Customer Support</h3>
            <h4 class="home-inline__sub-title h5">We are there for you</h4>
        </div>
        <div class="col-sm-4">
            <img src="https://thenounproject.com/api/private/icons/1688043/edit/?backgroundShape=SQUARE&backgroundShapeColor=%23000000&backgroundShapeOpacity=0&exportSize=752&flipX=false&flipY=false&foregroundColor=%23000000&foregroundOpacity=1&imageFormat=png&rotation=0&token=gAAAAABkGBXgqvQEY9Uq6UuZMKee0IKRmiyJI8kIGiLvN2aivPbumPV9Hal11Ey-yLcqbngFnrX-gIA878U_20MxkvIDQQSdNw%3D%3D" width="220" height="220"
                alt="payment logo" loading="lazy">
            <h3 class="inline-flex">Easy Payment</h3>
            <h4 class="home-inline__sub-title h5">Book & Pay Easily  
            </h4>

        </div>
        <div class="col-sm-4">
            <img src="https://thenounproject.com/api/private/icons/4252940/edit/?backgroundShape=SQUARE&backgroundShapeColor=%23000000&backgroundShapeOpacity=0&exportSize=752&flipX=false&flipY=false&foregroundColor=%23000000&foregroundOpacity=1&imageFormat=png&rotation=0&token=gAAAAABkGBXgqvQEY9Uq6UuZMKee0IKRmiyJI8kIGiLvN2aivPbumPV9Hal11Ey-yLcqbngFnrX-gIA878U_20MxkvIDQQSdNw%3D%3D" width="220" height="220"
                alt="verified bikes" loading="lazy">
            <h3>Verified Bikes</h3>
            <h4 class="h5">Only Bikes With Clear Documents</h4>
        </div>
    </div>
</div>
</div>
</div>

{% endblock main %}