{% extends 'app/base.html' %}
{% load crispy_forms_tags %}
{% block title %}My Profile{% endblock title %}
{% block main %}

{% if not request.user.is_authenticated %}
<div class="container-fluid">
    <div class="alert alert-danger" role="alert">
        Access Denied!!
        <br>
        Login to access this page.
    </div>
</div>
{% else %}

{% if messages %}
<div class="container-fluid">
    {% for message in messages %}
    <div class="alert alert-success" role="alert">
        <li {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
    </div>
    {% endfor %}
</div>
{% endif %}

<div class="container-fluid bg-white mt-3 mb-5">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5"
                    width="150px"
                    src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span
                    class="font-weight-bold">{{ user_info.first_name }}</span>
                <span class="text-black-50">{{user_info.email }}</span>
                <span></span>
            </div>
        </div>
        <div class="col-md-5 border-right">
            <form method="POST" action="#">
                {% csrf_token %}
                {{user_form|crispy}}
                <button class="btn btn-primary profile-button" type="submit">Save Profile</button>
            </form>
        </div>
    </div>
</div>
{% endif %}
{% endblock main %}